fieldset, form, label, legend {
	border: 0px none;
	margin: 0px;
	padding: 0px;
	background: transparent none repeat scroll;
	outline: 0px none;
	font-size: 100%;
	vertical-align: baseline;
}

div.search {
	background: transparent url("../images/form-left.png") no-repeat scroll 0px 0px;
}

div.search form { margin: 0px; padding: 0px; }

div.search label {
	display: block;
	float: left;
	visibility: hidden;
}

div.search input {
	display: inline-block;
	border: medium none;
	margin: 0px;
	padding: 1px 0;
	background: transparent none repeat scroll 0% 0%;
	width: 142px;
	height: 18px;
	font-size: 11px;
	color: #000;
	font-family: verdana,arial;
}

div.search input#search-entry { margin-left: 30px; line-height: 24px; }

div.search fieldset {
	position: relative;
}

div.search input.submit {
	margin: 0px 0px 0px 30px;
	padding: 0px;
	background: transparent url("../images/form-right.png") no-repeat scroll 0px 0px;
	cursor: pointer;
	width: 20px;
	height: 22px;
	text-indent: -999px;
	position: absolute;
	right: -2px;
	top: 0;
}

.lt-ie9 #search-block-form > div > div > fieldset {
	width: 160px;
}

.lt-ie9 #search-block-form > div > div > fieldset > input {
	clear: none !important;
}


