/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

* {
	font-family: "Microsoft YaHei", "Helvetica Neue", Arial,verdana, sans-serif;
}

.menu__item.is-leaf, .menu__item.is-expanded, .menu__item.is-collapsed {
	list-style: none;
	list-style-type: none;
}
.header .wrapper h1 a img{
	width:250px;
}

a { text-decoration: none; }

.hidden { display: none; }

.header {
	position: relative;
	min-width: 1030px;
	width: 100%;
	height: 100px;
	background: #285B52;
}

.header .wrapper { height: 100%; }

.header h1 {
	position: absolute;
	margin: 26px 0px 0px
}

.region-header {
	position: absolute;
	top: 40px;
	right: 0px;
}

.region-mininav {
	width: 100%;
	padding: 10px 0px 8px;
	color: #fff;
	font-size: 11px;
	font-weight: lighter;
}

.region-banner {
	text-align: center;
	margin: auto;
	min-width: 1030px;
}

.row {
	text-decoration: none;
	list-style: none;
	overflow: hidden;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 1030px;
}

.col-2 {
	float: left;
	width: 20%;
	box-sizing: border-box;
}

.col-3 {
	float: left;
	width: 25%;
	box-sizing: border-box;
}

.col-4 {
	float: left;
	width: 30%;
	box-sizing: border-box;
}
.col-5 {
	float: left;
	width: 40%;
	box-sizing: border-box;
}
/*
@media only screen and (min-width: 600px) {
	.wrapper {
		position: relative;
		margin: 0 auto;
		width: 1030px;
	}

	.col-2 {
		float: left;
		width: 20%;
		box-sizing: border-box;
	}

	.col-3 {
		float: left;
		width: 25%;
		box-sizing: border-box;
	}

	.col-4 {
		float: left;
		width: 30%;
		box-sizing: border-box;
	}
}

@media only screen and (min-width: 360px) and (max-width: 600px) {
	.wrapper {
		position: relative;
		margin: 0;
		width: 100%;
	}
	
	.col-2 {
		display: none;
		float: left;
		width: 30%;
		box-sizing: border-box;
	}

	.col-3 {
		float: left;
		width: 50%;
		box-sizing: border-box;
	}

	.col-4 {
		float: left;
		width: 75%;
		box-sizing: border-box;
	}
}

@media only screen and (max-width: 360px) {
	.wrapper {
		position: relative;
		margin: 0;
		width: 100%;
	}
	
	.col-2 {
		display: none;
		float: left;
		width: 20%;
		box-sizing: border-box;
	}

	.col-3 {
		float: left;
		width: 100%;
		box-sizing: border-box;
	}

	.col-4 {
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
}
*/
.padding-5 {
	padding: 5px;
}

.padding-10 {
	padding: 10px;
}

.bgwhite {
	background: white;
}

.br8-top-left{
	border-top-left-radius: 8px;
}

.br8-top-right {
	border-top-right-radius: 8px;
}

.imh a {
	text-indent: 70px;
	background-color: #e67e22;
	color: #ffffff;
	background-image: url('../images/right_bar_1.png');
	background-position: 15px;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 13px 0px;
}

.weixin a {
	text-indent: 70px;
	background-color: #679b00;
	color: #ffffff;
	background-image: url('../images/right_bar_2.png');
	background-position: 15px;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 13px 0px;
}

.ioa a {
	text-indent: 70px;
	background-color: #2980b9;
	color: #ffffff;
	background-image: url('../images/right_bar_3.png');
	background-position: 15px;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 13px 0px;
}

.ixy a {
	text-indent: 70px;
	background-color: #018e72;
	color: #ffffff;
	background-image: url('../images/right_bar_4.png');
	background-position: 15px;
	background-repeat: no-repeat;
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 13px 0px;
}

footer {
	background: #285B52;
	clear: both;
	min-width: 1030px;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 0px;
	float: left;
	line-height: 1;
	overflow: hidden;
}

footer .siteinfo {
	font-size: 11px;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	padding: 0px 0px 0px 5px;
	width: 28%;
	float: left;
	color: #fff;
}

footer .siteinfo .org {
	margin: 0px 0px 10px;
	height: 38px;
	width: 200px;
	font-weight: 700;
}

footer .siteinfo .org a {
	overflow: hidden;
	background: transparent url("../images/logo_footer.png") no-repeat scroll;
	display: block;
	height: 50px;
	width: 250px;
	text-indent: -1000px;
}

footer .siteinfo .adr {
	margin: 0px 0px 5px;
	line-height: 1.4;
	font-style: normal;
}

footer .siteinfo .license {
	margin: 0px 0px 15px;
}

footer .resources {
	margin: 0px 0px 0px 20px;
	width: 400px;
	float: left;
	border-left: 1px dotted #d988fa;
	line-height: 1;
	border-right: 1px dotted #d988fa;
}

footer .footer-right-slide {
	display: inline-block;
	margin-left: 20px;
}

footer .resources .left-links {
	padding: 0px 20px;
	width: 50%;
	float: left;
}

footer .resources .right-links {
	padding: 0px 0px 10px;
	width: 40%;	
	float: left;
}

.search-form-spec { margin-right: 5px; }


.block-title > a {
	color: #37872d;
	font-weight: 700;
	font-size: 14px;
}

.views-title > a {
	color: #157FAC;
	font-weight: 700;
	font-size: 12px;
}

.views-title > a:hover { color: #285b52; }

.views-updated-date {
	color: #767676;
	padding: 0px 0px 8px;
	font-size: 12px;
}

.views-block > .view-content > .views-row {
	margin: 0px 0px 8px;
	border-bottom: 1px solid #EEE;
	
	overflow: hidden;
}

.views-block > .more-link  > a {
	color: #157FAC;
	font-size: 11px;
}

.views-block-row {
	padding-top: 4px;
	padding-bottom: 4px;
}

.views-image {
	float: left;
	margin: 2px 12px 2px 0px;
}

.views-excerpt {
	color: #767676;
	padding: 0px 0px 8px;
	font-size: 12px;
}

.mininav-spec {
	float: right;
}

.mininav-spec .block-title {
	display: none;
}

.mininav-spec ul {
	margin: 0px;
}

.mininav-spec ul li {
	display: inline;
	margin: 0px 0.8em 0px 0px;
}

.mininav-spec ul li a {
	color: #fff;
	text-decoration: none;
}

.mininav-spec ul li a:visited {
	color: #dfdfdf;
	text-decoration: none;
}

.mininav-spec ul li a:hover {
	color: #fff;
	text-decoration: none;
}

.navigation {
	position: relative;
	min-width: 1030px;
	width: 100%;
	background: #000;
	padding-top: 0px;
	color: #fff;
	font-weight: lighter;
	font-size: 11px;
	line-height: 1em;
	margin-bottom:10px;
}

.main-menu {
}

.main-menu  ul {
	margin: 0px;
}

.main-menu ul li {
	display: inline-block;
	position: relative;
}

.main-menu ul li a {
	padding: 10px 30px 8px;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	display: block;
}

.main-menu ul li a:link {
	color: #dfdfdf;
	text-decoration: none;
}

.main-menu ul li a:hover, .main-menu > ul  > li.is-expanded:hover > a {
	color: #fff;
	background: #363636;
	text-decoration: none;
}

.main-menu ul li a:visited {
	color: #dfdfdf;
	text-decoration: none;
}

.main-menu ul li.is-expanded ul {
	position: absolute;
	left: -9999px;
	opacity: 0;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	z-index: 999;
	padding-left: 0;
}

.main-menu ul li.is-expanded:hover ul {
	left: 0px;
	opacity: 0.8;
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4);
	background: black;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
}

.main-menu ul li.is-expanded:hover ul  li {
	background: black;
	text-align: center;
	width: 100%;
}

.main-menu ul li.is-expanded:hover ul  li a {
	padding-left: 0px;
	padding-right: 0px;
	vertical-align: middle;
	text-align: center;
}

.footer-link-spec ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	list-style: outside none none;
	line-height: 1;
}

.footer-link-spec ul li {
	padding: 0px 0px 0px 12px;
	margin: 0px 0px 6px;
	background: transparent url("../images/arrow.png") no-repeat scroll 0px 2px;
	list-style: outside none none;
	list-style-type: none;
}

.footer-link-spec ul li a {
	text-decoration: none;
	color: #f1f1f1;
	cursor: pointer;
	font-size: 11px;
	padding: 0px 1px;
}

.footer-link-spec ul li a.active {
	color: #f1f1f1;
}

.footer-link-spec ul li a:hover {
	color: #fff;
}

.footer-link-spec .block-title {
	color: #fff;
	font-size: 11px;
	font-weight: 400px;
	margin: 0px 0px 6px;
	line-height: 1;
}

.content {
	position: relative;
	background: white;
	box-shadow: 0px 2px 5px rgba(50,50,50,0.45);
	display: block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	min-height: 450px;
	clear: both;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.content-main {
	box-sizing: border-box;
	display: inline-block;
	padding: 0 15px 0 10px;
	width: 75%;
}

.content-left {
	box-sizing: border-box;
	display: inline-block;
	padding: 0 10px 0 15px;
	width: 25%;
	float: left;
}

.page__title {
	margin-right: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.content-main > .view > .view-content { padding-right: 10px; }

.views-page-row{
	padding-top: 10px;
	padding-bottom: 5px;
	overflow: hidden;
	border-bottom: 1px solid #eee;
	position: relative;
}

.views-page-row > .views-field-title {
	display: block;
	float: left;
}

.views-page-row > .views-field-changed > .views-updated-date {
	display: block;
	float: right;
}

.view-archive > .view-content > .item-list > .views-summary > li {
	text-decoration: none;
	list-style: none;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.view-archive > .view-content > .item-list > .views-summary > li > a {
	color: #2662E3;
	border-bottom: 1px solid #eee;
}

.views-page-row > .views-field > .views-title > a {
	display: block;
	font-size: 14px;
	color: #2662E3;
}

.views-page-row  > .views-field > .views-excerpt > p {
	font-size: 14px;
	font: 400 Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 18px 0;
}

.views-page-row > .views-field > .views-updated-date > span {
	color: #999;
}
/** Backup for the old style
.leftpanel-nav ul {
	list-style: outside none none;
}

.leftpanel-nav ul li a {
	display: block;
	padding: 8px 30px;
	font-size: 14px;
	background-color: #E0E0E0;
	text-decoration: none;
	color: #143270;
	margin-bottom: 1px;
	background-image: url("../images/subnav-bg1.jpg");
	background-repeat: no-repeat;
}

.leftpanel-nav ul li.active-trail a,
.leftpanel-nav ul li.hover a {
	background-image: url("../images/subnav-bg.jpg");
	background-color: #8C8B8B;
	color: #FFF;
	background-repeat: no-repeat;
}

.leftpanel-nav ul li.is-expanded ul li {
	border-bottom: 1px dashed #143270;
	font-size: 12px;
	margin-bottom: 5px;
}
.leftpanel-nav ul li.is-expanded ul li a::before {
	content: url("../images/yellow_arr.gif");
	padding-right: 30px;
}

.leftpanel-nav ul li.is-expanded ul li a {
	padding-left: 0px;
	color: #323232;
	background: none;
}

.leftpanel-nav ul li.is-expanded ul li.active-trail a,
.leftpanel-nav ul li.is-expanded ul li.hover a {
	color: #ea8529;
}
*/

.leftpanel-nav * {
	box-sizing: border-box;
}

.leftpanel-nav > ul {
	border: 1px solid #C8C8C8;
	margin: 0 !important;
	padding: 0px;
	text-indent: 0px;
	background-color: rgb(255, 255, 255);
	width: 227px;
	padding: 0;
}

.leftpanel-nav > ul > li {
	margin: 0 !important;
	background: url(../images/navigation-li-bg.jpg) repeat-x bottom left;
}

.leftpanel-nav > ul > li:hover {
	color: #8531A5;
	background: #E8E8E8;
}

.leftpanel-nav > ul > li > a {
	font-size: 0.84em;
	height: 30px;
	line-height: 30px;
	background: url(../images/menu-arrow.gif) no-repeat 10px center;
	color: #000 !important;
	display: block;
	margin: 0;
	padding: 0.1em 0 0.1em 0 !important;
	text-indent: 28px;
	text-decoration: none;
	color: rgb(59, 57, 42);
	letter-spacing: normal;
	font-weight: normal;
	border-bottom: 1px solid #C8C8C8;
}

.leftpanel-nav ul li.active-trail {
	background: #31B2E5 url(../images/menu-background.jpg) repeat-x top left;
}

.leftpanel-nav ul li.active-trail > a {
	color: #fff!important;
	background: transparent url(../images/menu-arrow-white.gif) no-repeat 10px center;
}

.leftpanel-nav ul li.is-expanded ul {
	padding: 0;
	border-bottom: 1px solid #c8c8c8;
}

.leftpanel-nav ul li.is-expanded ul li a {
	background: #fff url(../images/menu-arrow-blue.gif) no-repeat scroll 10px center;
	display: block;
	color: #0066CC !important;
	border-top: 1px dotted #ccc;
	font-size: 0.8em;
	padding: 3px 0 3px 30px;
}

.leftpanel-nav > ul > li.is-expanded > ul > li > a:hover {
	background: #f3f3f3 url(../images/menu-arrow-blue.gif) no-repeat scroll 10px center;
}

.leftpanel-nav ul li.is-expanded ul li a.active {
	font-weight: bold;
}

.comment {
	border-top: 1px solid #d8d8d2;
	margin-top: 0.692em;
	padding-top: 0.692em;
	overflow: hidden;
}

.comment h3 {
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1.3em;
	margin: 0 0 0 60px;
}

.comment h3 a{
	color: #0678be;
}

.comment-picture {
	float: left;
	width: 45px;
}

.comment-submitted {
	color: #666666;
	font-size: 0.9em;
	line-height: 1.5em;
	margin-left: 60px;
	margin-bottom: 0.75em;
}

.comment-submitted  span a {
	color:#0678be
}

.comment-submitted span time {
	font-style: italic;
	border-bottom: 1px dotted;
}

.comment-content {
	margin-left: 60px;
}

.business-routes-front .block-title {
	margin-top: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 0.5em;
	border-radius: 6px 6px 0 0;
}

.business-routes-front > .menu {
	padding-top: 5px;
	margin-top: 0;
	border-style: none solid solid;
	border-color: #e5e5e5;
	border-width: 1px;
	background: #fff;
}

.ui-accordion-header {
	background: url('../images/accordion_headerbg_off.gif') !important;
	margin-top: 0 !important;
}

.ui-accordion-header > a {
	padding: 0 !important;
	height: 24px;
	line-height: 24px;
}

.ui-state-active {
	background: url('../images/accordion_headerbg_on.gif') !important;
}

.accordion-link {
	padding: 2px 5px;
	font-weight: 500;
	font-size: 15px !important;
	text-indent: 10px;
}


.ui-accordion-content {
	padding: 0 !important;
	margin: 0 !important;
	top: 0 !important;
}

.ui-accordion-content .menu {
	margin: 0;
	padding: 0;
}

.ui-accordion-content .menu li {
	padding: 5px 15px;
	background: url('../images/fav-divide.gif') repeat-x 0 0 scroll;
}

.ui-accordion-content ul.menu {
	counter-reset: li;
	list-style: none;
	*list-style: decimal;
}

.ui-accordion-content ul.menu li a:before {
	content: counter(li) ".";
	counter-increment: li;
	font-size: 14px;
	font-weight: 400;
	color: #96d801;
	padding-right: 10px;
}

.ui-accordion-content .menu li a {
	color: #2377cb;
	font-size: 12px;
	font-weight: 700;
}

.block-accordion-menu .block-title a {
	color: white;
}

.lt-ie9 body #header .wrapper h1 a  {
	float: none;
}

.lt-ie9 body #header .wrapper h1 a img {
	max-width: inherit;
	width: auto !important;
}